body {
	border: 10px solid gray;
	margin-left: 1%;
	margin-right: 25%;
}
html {
	background-color: white;
}
button {
	border: 5px double black;
	background-color: blue;
}

button:hover {
    box-shadow: -6px -8px 10px 4px rgba(63, 50, 250, 0.4),
    10px 8px 14px rgba(63, 50, 250, 0.4);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

div {
	display: inline-block;
	margin-left: 10px;
	matgin-top: 10px;
}
embed {
	background-color: white;
}
