html {
	background-image: repeating-linear-gradient(to bottom,
      rgb(26,198,204),
      rgb(26,198,204) 7%,
      rgb(100,100,100) 10%);
}

body {
	border: 2px solid rgb(28,198,204);
	text-align: center;
	margin-top: 40%;
	margin-botton: 40%;
}