html {
  background-image: linear-gradient(to left, rgb(93,43,78), rgb(8,2,50));
  width: 100%;
  height: 100%;
}

body {
  width: 70%;
  height: auto;
  border: 2px gray solid;
  margin: 10%;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
  background-color: white;
}
.adm {
  color: gold;
}
textarea {
  width: 30%;
  margin-right: 0;
}
.submit-button {
  margin-left: 0;

}
.heart {
  background-color: pink; 
  margin: 5px;
}

/* Стили текста-кнопки */
.tooltip-button {
  cursor: pointer;
  position: relative;
  padding: 1px 8px;
  border: none;
  color: inherit;
  font: inherit;
}

.tooltip-button::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border: 4px solid;
  border-left-color: transparent;
  border-bottom-color: transparent;
}

/* Стили тултипа */
@keyframes tooltip-opener {
  0% {
    transform: translate(50%) scaleX(0);
  }

  100% {
    transform: translate(100%) scaleX(100%);
  }
}

.tooltip {
  z-index: 2;
  display: none;
  flex-direction: row-reverse;
  position: fixed;
  max-width: 256px;
  right: 0;
  top: 160px;
  border-radius: 8px 0 0 8px;
}

.opened {
  display: flex;
  animation: tooltip-opener 150ms;
}

.tooltip-text {
  display: flex;
  align-items: center;
  padding: 10px;
}

.close-button {
  min-height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  margin: 0;
  padding: 0;
  border-radius: 8px 0 0 8px;
}

.close-button span {
  display: inline-block;
  vertical-align: middle;
  transform: rotate(-90deg);
}
